body {
    font-family: Arial, sans-serif;
    background-color: #fdf9f2;
}

.outer-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
    width: 80%;
    max-width: 600px;
}

.form-group {
    display: flex;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

textarea {
    flex: 1;
    padding: 10px;
    border-radius: 12px;
    background: #f6eddc;
    border: 1px solid #d6cab4;
    resize: none;
    width: 700px;
    height: 153px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    background-color: #325bb1;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    width: 100px; /* Set a fixed width for the button */
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#welcome-message {
    margin-top: 0px;
    color: #3660B8;
    font-family: Arial;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

#response-box {
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: left;
    max-height: 300px;
    overflow-y: auto;
    padding: 25px;
    /*border-radius: 4px;*/
    width: 100%;

    border-radius: 50px;
    border: 2px solid #D6CAB4;
    background: #F6EDDC;
}

#response-box:has(.response-content:empty) {
    display: none;
}

.response-content {
    white-space: pre-wrap; /* Preserve whitespace and line breaks */
}

.sticky-header {
    position: sticky;
    top: 0;
    padding: 10px;
    z-index: 1000;
}

.sticky-header img {
    flex-shrink: 0;
    float: right;
    width: 177px;
    height: 186px;
    display: block;
    margin-left: auto;
    border-radius: 50px;
    border: 1px solid #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.history-box {
    margin: 0;
    padding: 25px;
    position: absolute;
    height: 55%;
    overflow: auto;
    width: 175px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 2px solid #7886C7;
    background: #A9B5DF;
}

.history-box p {
    font-family: 'Inter Tight';
}

.how-it-works-box {
    margin-top: 190px;
    margin-right: 10px;
    padding: 25px;
    position: absolute;
    right: 0; /* Anchor to the right side of the page */
    height: 45%;
    overflow: auto;
    width: 200px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 2px solid #7886C7;
    background: #A9B5DF;
}

.how-it-works-box p {
    font-family: 'Inter Tight';
}

.about-livedoc-box {
    margin: 0;
    padding: 25px;
    position: absolute;
    overflow: auto;
    width: 96%;
    flex-shrink: 0;
    border-radius: 50px;
    border: 2px solid #7886C7;
    background: #A9B5DF;
}

.about-livedoc-box p {
    font-family: 'Inter Tight';
}

p.footer {
    text-align: center;
    font-family: 'Inria Sans';
}
